body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #0cc;
}
a:hover {
  text-decoration: underline;
}

.treeview-navigation a[role="treeitem"][aria-expanded="false"] > span svg {
  transform: rotate(270deg) translate(2px, 2px);
}

.treeview-navigation ul[role="group"] {
  margin-left: 1rem;
}

.treeview-navigation
  a[role="treeitem"][aria-expanded="false"]
  + [role="group"] {
  display: none;
}

#main {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
#nav {
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
}

#nav > ul {
  margin: 1rem;
}

#content {
  height: calc(100vh - 2rem);
  flex: 2;
  overflow-y: scroll;
  padding: 1rem;
}

.table {
  width: 100%;
}
.table tr th,
.table tr td {
  padding: 0.5rem;
  text-align: left;
}
.table tr th {
  background: #eee;
}
